{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["> 1%", "Explorer 11"]},
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}
