.idea/
.bin/
logs/
dist
.DS_Store
*.log
workspace.xml
node_modules
*.iml
manifest.json
coverage
doc
.*.sw?
npm-debug.log
newrelic_agent.log
npm-debug.log.*
*.sublime-*
.floo
.flooignore
disc
/report/
**/screenshots/*.png

# *** Boilerplate auto-update files v3.0.113
/.dockerignore
/.editorconfig
/Dockerfile
/Makefile
/.npmrc
/docker/supervisor.conf
/newrelic.js
